.footerList{
    list-style: none;
}
.footers{
    border-color:black; border-width: 2px; border-style: solid;

}

.navigator{
    border-color:black; border-width: 2px; border-style: solid;
    background-color: black;
    height: 110px;
}
.NavLinks{

    float: right; position: absolute; top: 7.5%; left: 75%;
}

.links{
    color: white; text-decoration: none;
    margin-right: 20px;
    
}
button{
    border-radius: 5px;
    margin-left: 10px;
}
.register{
    background-color: #366873;
}
.logoNav{
    height: 105px;
    width: 230px;
    position: absolute; left: 0%;
}