.footerList{
    list-style: none;
}
.footers{
    border-color:black; border-width: 2px; border-style: solid;

}

.navigator{
    border-color:black; border-width: 2px; border-style: solid;
    background-color: black;
    height: 110px;
    font-family: Poppins;
}
.NavLinks{

    float: right; position: absolute; top: 7.5%; left: 75%;
}

.links{
    color: white; text-decoration: none;
    margin-right: 20px;
    
}

.register{
    background-color: #366873;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    
}
.BNavBar{
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    
}
.logoNav{
    height: 130px;
    width: 234px;
    position: absolute; left: 0%; top: -1px;
}